@media screen and (max-width: 768px) {
    .content {
        background-color: $blue-light;
        box-shadow: none;
        padding: 40px 20px;
        width: 100%;
    }
        .content:before, .content:after {
            display: none;
        }
    #leftArrows, #rightArrows {
        display: none;
    }

    .form input[type="text"] {
        background-color: $white-color;
        border-color: $blue-light;
        font-size: 15px;
        height: 50px;
        padding: 0px 90px 0px 30px;
    }
    .form input[type="button"] {
        font-size: 15px;
        padding: 16px 20px;
    }
}