.content-container#single-book {
    padding-bottom: 0px;
    margin-bottom: 40px;
}

.single-book {
    font-family: Tahoma;
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
}

.single-book .row {
    position: relative;
}

/*COLUMN IMAGE*/
.image-book img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: auto;
}
    .image-book img.active {
        max-height: none;
        max-width: none;
    }

#image-container {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    max-width: -ms-calc(41.6666666667% - .75rem);
    max-width: -o-calc(41.6666666667% - .75rem);
    max-width: calc(41.6666666667% - .75rem);
    width: 100%;
    z-index: 100;
}

#image-container.scroll-waiting {
    bottom: 0px;
    left: 0;
    max-height: -webkit-calc(100vh - 180px);
    max-height: -moz-calc(100vh - 180px);
    max-height: -ms-calc(100vh - 180px);
	max-height: calc(100vh - 180px);
	max-width: -webkit-calc(41.6666666667% - 0.75rem);
	max-width: -moz-calc(41.6666666667% - 0.75rem);
	max-width: -ms-calc(41.6666666667% - 0.75rem);
	max-width: calc(41.6666666667% - 0.75rem);
    position: absolute;
}

#image-container.scroll-fixed {
    max-width: -ms-calc(37.5% - .75rem);
    max-width: -o-calc(37.5% - .75rem);
    max-width: calc(37.5% - .75rem);
}
    #image-container.scroll-fixed img,
    #image-container.scroll-waiting img {
    	max-height: -webkit-calc(100vh - 340px);
	    max-height: -moz-calc(100vh - 340px);
	    max-height: -ms-calc(100vh - 340px);
	    max-height: calc(100vh - 340px);
    }
        #image-container.scroll-fixed img.active,
        #image-container.scroll-waiting img.active {
            max-height: none;
        }

/*Scroll interaction*/
.scroll-info {
    background-color: #f5f5f5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
    padding: 30px 5%;
    text-align: center;
}
    .scroll-info .add-to-cart {
        margin-bottom: 0px;
        margin-right: 0px;
    }

/*COLUMN INFORMATION*/
.main.book .summary-book {
    padding-left: 40px;
}

.summary-book .name {
    color: #00396f;
    font-size: 28px;
    font-weight: bold;
    line-height: 100%;
    margin: 0px;
    text-align: justify;
}

.summary-book .author {
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0px;
}
    .summary-book .author a {
        color: #666;
        line-height: normal;
        position: relative;
        text-decoration: none;
    }
        .summary-book .author a:before {
            content: '';
            background-color: #666;
            bottom: 0px;
            height: 1px;
            left: 0px;
            position: absolute;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            width: 0%;
        }
        .summary-book .author a:hover:before {
            width: 100%;
        }

.price {
    color: #e2231a;
    font-size: 28px;
    font-weight: bold;
    line-height: 100%;
    margin: 0px;
}

.shipping {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px;
}

.summary-book .cont-specialties {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    font-size: 16px;
    font-weight: bold;
    justify-content: flex-start;
}
    .summary-book .cont-specialties .label {
        padding-right: 10px;
        padding-top: 9px;
    }
    .summary-book .cont-specialties p {
        display: inline-block;
        margin: 0px 7px;
    }
        .summary-book .cont-specialties p img {
            display: inline-block;
            max-width: 43px;
            vertical-align: middle;
        }

.summary-book .cont-versions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}
    .summary-book .versions {
        font-size: 16px;
        font-weight: bold;
        margin: 20px 0px;
    }
        .summary-book .version-btn {
            color: #666;
            display: inline-block;
            margin-left: 10px;
            vertical-align: middle;
        }
            .summary-book .version-btn span {
                border-radius: 50%;
                border: 1px solid #a5a5a5;
                color: #00396f;
                display: inline-block;
                font-size: 20px;
                height: 37px;
                line-height: 35px;
                text-align: center;
                -webkit-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
                vertical-align: inherit;
                width: 37px;
            }
                .summary-book .version-btn span.icon-book {
                    font-size: 15px;
                }

            .summary-book .version-btn:hover span {
                background-color: #00396f;
                border-color: #00396f;
                color: #fff;
            }
        .summary-book .shared {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            font-size: 16px;
            margin: 0px 0px 0px 20px;
        }
            .summary-book .shared a {
                display: inline-block;
                color: #666666;
                line-height: 47px;
                margin: 0px 5px;
            }
                .summary-book .shared img {
                    cursor: pointer;
                    display: block;
                    max-height: 37px;
                    margin: 0px;
                }

.main.book .add-to-cart {
    margin: 20px 10px 20px 0px;
}
    .main.book .add-to-cart input {
        height: 39px;
        margin-bottom: 0px;
        margin-right: 20px;
        width: 150px;
        vertical-align: middle;
    }
    .main.book .add-to-cart .button {
        font-family: 'Tahoma';
        font-weight: bold;
        padding: 11px 20px;
        text-align: center;
    }
    .main.book .error-cart {
        margin-bottom: 20px;
    }

/*Collapsible*/
.main.book .collapsible {
    background-color: transparent;
    border: none;
    box-shadow: none;
}
    .main.book .collapsible-item {
        margin-bottom: 10px;
    }
        .main.book .collapsible-header {
            background-color: #eaeaea;
            border-radius: 7px;
            color: #666;
            font-family: Tahoma;
            font-size: 20px;
            font-weight: 700;
            line-height: 100%;
            overflow: hidden;
            padding-left: 24px;
            padding-right: 24px;
            position: relative;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            z-index: 1;
        }
            .main.book .collapsible-header span {
                background-color: #00396f;
                border-radius: 50%;
                color: #fff;
                display: inline-block;
                font-family: icomoon!important;
                font-size: 9px;
                font-weight: 400;
                font-style: normal;
                height: 20px;
                line-height: 21px;
                margin-right: 15px;
                margin-top: 1px;
                position: relative;
                text-align: center;
                transition: .4s;
                width: 20px;
            }
                .main.book .collapsible-header span::after {
                    background-color: transparent;
                    border-radius: 50%;
                    border: 2px solid #a5a5a5;
                    bottom: -7px;
                    content: '';
                    left: -7px;
                    position: absolute;
                    right: -7px;
                    top: -7px;
                }

        .collapsible-body {
            background-color: #f5f5f5;
            border-bottom: 0px;
            border-radius: 10px;
            color: #a5a5a5;
            font-family: Tahoma;
            font-size: 16px;
            margin-top: 10px;
            padding: 30px 30px 30px 60px;
        }

/*Author Panel*/
.row.author-item {
    margin-bottom: 10px;
}
    /*Image*/
    .author-item .image img {
        border-radius: 50%;
        overflow: hidden;
        height: auto;
        max-width: 100%;
    }
    /*Information*/
    .author-item .name {
        font-size: 25px;
    }
    .author-item .description {
        margin: 10px auto;
    }

/*Mockup book page loader*/
.mockup.image {
    padding-top: 100%;
    width: 100%;
}

.mockup.name {
    height: 80px;
    margin-bottom: 20px;
}

.mockup.author {
    height: 30px;
}

.mockup.shipping {
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.mockup.accordion {
    height: 50px;
}

/*Related products*/
.related-products .section-title {
    margin-bottom: 0px;
}
.related-products .page-container {
    margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
    .image-book {
        margin-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #image-container {
        bottom: 0px !important;
        left: 0px !important;
        max-height: none !important;
        max-width: none !important;
        position: relative !important;
        top: 0px !important;
    }
        #image-container.scroll-waiting,
        #image-container.scroll-fixed {
            left: 0px;
            max-height: none;
            max-width: none;
            position: relative;
            top: 0px;
        }
            #image-container.scroll-fixed img,
            #image-container.scroll-waiting img {
                max-height: none;
            }
        .scroll-info {
            display: none !important;
        }

    .main.book .summary-book {
        padding-left: 0px;
        padding-right: 0px;
    }
        .name, .price {
            font-size: 30px;
        }
        .author {
            font-size: 20px;
        }

    .row.author-item {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .main.book .add-to-cart {
        margin-left: 0px;
        margin-right: 0px;
    }
        .main.book .add-to-cart input {
            width: -webkit-calc(35% - 10px);
            width: -moz-calc(35% - 10px);
            width: -ms-calc(35% - 10px);
            width: calc(35% - 10px);
        }
        .main.book .add-to-cart .button {
            width: -webkit-calc(65% - 15px);
            width: -moz-calc(65% - 15px);
            width: -ms-calc(65% - 15px);
            width: calc(65% - 15px);
        }
}