.main .title {
    border-bottom: 1px solid #A5A5A5;
    color: #00396F;
    font-family: 'Tahoma';
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-bottom: 20px;
    text-align: left;
}

.terms-condition {
    margin-bottom: 10px;
}

.global-error {
    text-align: center;
}

.checkoutform .button {
    font-size: 20px;
    line-height: 100%;
    padding: 10px 10px 15px;
    width: 100%;
}

/*Order col*/
.col.order {
    border-radius: 10px;
    padding: 0px 30px 30px;
}

.col.order table {
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 20px;
}
    .col.order table thead {
        background-color: #eaeaea;
    }

    .col.order table tr td,
    .col.order table tr th {
        padding-left: 20px;
        padding-right: 20px;
    }

    .col.order table th.qty,
    .col.order table td.qty {
        text-align: center;
    }

/*Payment response*/
table.payment-response {
    border-radius: 7px;
    margin: 0px auto 70px;
    overflow: hidden;
    width: 50%;
}
    table.payment-response thead {
        background-color: #F5F5F5;
        border-bottom: 1px solid #cacaca;
    }
        table.payment-response thead th {
            color: #00396f;
            font-size: 25px;
            text-align: center;
        }

    table.payment-response th,
    table.payment-response td {
        padding-left: 20px;
        padding-right: 20px;
    }

    table.payment-response tbody th,
    table.payment-response tbody td {
        font-size: 18px;
    }
        table.payment-response tbody td {
            font-style: italic;
        }

    table.payment-response tr.authorization_code {
        background-color: #b10000 !important;
        color: #fff;
    }
        table.payment-response tr.authorization_code.code_00 {
            background-color: #00b11e !important;
        }
        table.payment-response tr.authorization_code td {
            font-style: normal;
        }

    table.payment-response tbody tr.finish-row td {
        text-align: center;
    }
