/*
    VARIABLES

    //Blue colors
    $primary-color: #00396F;
    $blue-dark: #001f3c;
    $blue-light: #55B9D4;
    $blue-opacity: #A1B3C7;

    //Red colors
    $red: #E2231A;
    $red-dark: #b4170f;

    //Gray colors
    $primary-gray: #878786;
    $gray-dark: #666666;
    $gray-min-dark: #cccccc;
    $gray-light: #A5A5A5;
    $gray-sup-light: #F5F5F5;
    $gray-medium: #ededed;

    //White colors
    $white-color: #ffffff;
    $white-light: #f7f7f7;
    $white-dark: #eaeaea;
    $white-transparence: rgba(255,255,255,0.5);

    //Fonts
    $primary-font: 'Tahoma';

    $sm-font: 13px;
    $md-font: 16px;
    $lg-font: 25px;
    $xlg-font: 40px;
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

/*Top bar styles*/
.top-bar {
    align-items: center;
    background-color: #55b9d4;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    font-family: Tahoma;
    justify-content: space-between;
    left: 0;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    top: 0;
    z-index: 100000;
    width: 100%;
}

ul.social-networks.top {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0px;
}
    ul.social-networks.top li {
        list-style: none;
        position: relative;
    }
        ul.social-networks.top li a {
            background-color: transparent;
            color: #fff;
            display: flex;
            flex-flow: column wrap;
            font-size: 18px;
            height: 40px;
            justify-content: center;
            line-height: 40px;
            text-align: center;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
            transition: all .4s ease;
            width: 40px;
        }
            ul.social-networks.top li a img {
                display: block;
                margin: 0 auto;
                max-height: 35px;
            }

            ul.social-networks.top li a:hover,
            ul.social-networks.top li a:active {
                background-color: #00396f;
            }

#top-bar-btns {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0px;
}
    #top-bar-btns li a {
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none;
    }
        #top-bar-btns li a#cart-btn {
            background-color: #00396f;
        }
        #top-bar-btns li a#login-btn {
            background-color: #a1b3c7;
        }
            #top-bar-btns li a i {
                font-size: 21px;
                vertical-align: sub;
            }
        #top-bar-btns li a#contact {
            background-color: #a1b3c7;
            border-left: 1px solid #00396f;
        }

    ul#user-menu-dropdown {
        padding: 7px 0px;
        top: 40px !important;
        width: auto !important;
    }
        ul#user-menu-dropdown li a {
            color: #666;
            cursor: pointer;
            display: inline-block;
            font-size: 15px;
            height: 50px !important;
            line-height: 50px;
            padding: 0 15px;
            -webkit-transition: all 0.4s ease;;
            -o-transition: all 0.4s ease;;
            transition: all 0.4s ease;;
            width: 100%;
        }

.header {
    background-color: #00396f;
    background-image: url('/img/common/header-bg.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-family: Tahoma;
    height: 100px;
    justify-content: space-between;
    left: 0;
    padding-left: 5%;
    padding-right: 3%;
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 1000;
}

    .header .site-logo img {
        max-height: 90px;
    }

.mobile-btn {
    background-color: transparent;
    cursor: pointer;
    display: none;
    height: 25px;
    position: relative;
    width: 40px;
}

.view-mobile {
    color: #fff;
    display: none !important;
    line-height: 40px;
    height: 40px;
    margin-right: 10px;
    width: 40px;
    text-align: center;
}
    #login-btn.view-mobile i {
        font-size: 39px;
    }
    .mobile-btn span, .mobile-btn:after, .mobile-btn:before {
        background-color: #fff;
        border-radius: 3px;
        content: '';
        height: 5px;
        opacity: 1;
        position: absolute;
        transition: .4s;
        width: 100%;
    }
        .mobile-btn:before {
            top: 0px;
        }
        .mobile-btn span {
            top: -ms-calc(50% - 2.5px);
            top: -o-calc(50% - 2.5px);
            top: calc(50% - 2.5px);
        }
        .mobile-btn:after {
            bottom: 0px;
        }
        .mobile-btn {
            background-color: transparent;
            cursor: pointer;
            display: none;
            height: 25px;
            position: relative;
            width: 40px;
        }

#nav-menu>ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0px;
}
    #nav-menu ul li {
        position: relative;
    }
        #nav-menu>ul>li:before {
            content: '';
            background-color: transparent;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            -webkit-transform: skewX(-28deg);
            transform: skewX(-28deg);
            transition: .4s;
            width: 100%;
            z-index: -1;
        }
            #nav-menu>ul>li:hover:before {
                background-color: #55b9d4;
            }

        #nav-menu>ul>li>a {
            align-items: center;
            display: flex;
            color: #fff;
            flex-flow: row wrap;
            justify-content: center;
            font-size: 18px;
            height: 100px;
            line-height: 100px;
            padding-left: 35px;
            padding-right: 35px;
            text-decoration: none;
            transition: .4s;
        }
            #nav-menu>ul>li>a img {
                height: auto;
                margin-right: 15px;
                width: 35px;
            }

        #nav-menu>ul>li>.submenu {
            align-items: flex-start;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 2px 2px 10px #a5a5a5;
            display: flex;
            flex-flow: row wrap;
            height: 0;
            list-style: none;
            max-height: -ms-calc(100% - 140px);
            max-height: -o-calc(100% - 140px);
            max-height: calc(100% - 140px);
            justify-content: center;
            opacity: 0;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0;
            position: fixed;
            top: 140px;
            left: 2.5%;
            transition: .4s;
            width: 95%;
        }
            #nav-menu>ul>li:hover>.submenu {
                padding: 0!important;
                opacity: 1;
                height: auto;
            }
            #nav-menu>ul>li>.submenu li {
                margin: 10px 0;
                width: 11%;
            }
                #nav-menu>ul>li>.submenu li a {
                    border-radius: 5px;
                    color: #e2231a;
                    display: block;
                    font-family: Tahoma;
                    font-size: 13px;
                    font-weight: 700;
                    padding: 5px;
                    text-align: center;
                    text-decoration: none;
                    transition: .4s;
                }
                    #nav-menu>ul>li>.submenu li a:hover, #nav-menu>ul>li>.submenu li:hover a {
                        background-color: #f5f5f5;
                    }
                        #nav-menu>ul>li>.submenu li a img {
                            display: block;
                            margin: 0 auto 10px;
                            max-width: 85px;
                        }

/*Main content*/
.main {
    color: #666;
    font-family: Tahoma;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    position: relative;
    width: 100%;
}

.main p {
    margin: 7px auto;
}
    .section-title {
        background-image: url('/img/common/titles-bg.png');
        background-position: left center;
        background-size: cover;
        color: #fff;
        font-family: Tahoma;
        font-size: 30px;
        font-weight: 700;
        padding: 15px 5%;
    }
        .section-title > * {
            font-size: 28px;
            font-weight: 700;
            margin: 0;
        }
    .main .subtitle {
        font-size: 30px;
    }

.main h1 {
    font-size: 35px;
}
.main h2 {
    font-size: 28px;
}
.main h3 {
    font-size: 24px;
}
.main h4 {
    font-size: 20px;
}
.main h5 {
    font-size: 18px;
}

.content-container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
    width: 90%;
}

.common-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.common-separator {
    background-color: #F5F5F5;
    height: 1px;
    width: 100%;
}

.content-block {
    padding-bottom: 70px;
    padding-top: 70px;
}

/*Link's*/
.main a {
    color: #00396f;
    cursor: pointer;
    font-family: Tahoma;
    font-weight: 700;
    text-decoration: none;
}

/*Titles & subtitle*/
.main .title {
    color: #00396f;
    font-family: Tahoma;
    font-weight: 700;
    margin-bottom: 35px;
    margin-top: 0;
    text-align: center;
}
    .main .title span {
        color: #55b9d4;
    }

/*Common buttons*/
.button {
    border: 0;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    padding: 10px 20px;
    transition: .4s;
    text-decoration: none;
}
    .button.primary {
        background-color: #00396f;
        color: #fff;
    }
    .button.white {
        background-color: #fff;
        color: #00396f;
    }
    .button.gray {
        background-color: #A5A5A5;
        color: #fff;
    }
    .button.danger {
        background-color: #e2231a;
        color: #fff;
    }
        .button.danger:hover,
        .button.danger:active,
        .button.danger:focus {
            background-color: #b4170f;
        }
    .button[disabled] {
        cursor: initial;
        opacity: 0.5;
    }

/*Global form styles*/
.main input:not([type]),
.main input[type=date]:not(.browser-default),
.main input[type=datetime-local]:not(.browser-default),
.main input[type=datetime]:not(.browser-default),
.main input[type=email]:not(.browser-default),
.main input[type=number]:not(.browser-default),
.main input[type=password]:not(.browser-default),
.main input[type=search]:not(.browser-default),
.main input[type=tel]:not(.browser-default),
.main input[type=text]:not(.browser-default),
.main input[type=time]:not(.browser-default),
.main input[type=url]:not(.browser-default),
.main textarea,
.main textarea.materialize-textarea {
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #666;
    font-family: Tahoma;
    font-weight: 400;
    outline: 0;
    padding-left: 10px;
    padding-right: 10px;
}

    .main input:not([type]):focus:not([readonly]),
    .main input[type=date]:not(.browser-default):focus:not([readonly]),
    .main input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    .main input[type=datetime]:not(.browser-default):focus:not([readonly]),
    .main input[type=email]:not(.browser-default):focus:not([readonly]),
    .main input[type=number]:not(.browser-default):focus:not([readonly]),
    .main input[type=password]:not(.browser-default):focus:not([readonly]),
    .main input[type=search]:not(.browser-default):focus:not([readonly]),
    .main input[type=tel]:not(.browser-default):focus:not([readonly]),
    .main input[type=text]:not(.browser-default):focus:not([readonly]),
    .main input[type=time]:not(.browser-default):focus:not([readonly]),
    .main input[type=url]:not(.browser-default):focus:not([readonly]),
    .main textarea.materialize-textarea:focus:not([readonly]),
    .main textarea:focus:not([readonly]) {
        border: 1px solid #00396f !important;
        box-shadow: none !important;
    }

.main textarea,
.main textarea.materialize-textarea  {
    padding: 13px;
}

.main .error {
    color: #E2231A;
    display: none;
    font-size: 14px;
    margin: 0 auto 8px;
}

.main .check {
    color: #00396f;
    display: none;
    font-size: 14px;
    margin: 0 auto 8px;
}

/*Big searcher styles*/
.big-searcher-content {
    font-family: Tahoma;
    margin-left: auto;
    margin-right: auto;
    padding: 29px 30px;
    position: relative;
    width: 60%;
    z-index: 10;
}

form.big-searcher {
    position: relative;
}
    form.big-searcher input[type="text"],
    form.big-searcher input[type=text]:not(.browser-default) {
        border: 1px solid #00396f;
        border-radius: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #666;
        font-size: 16px;
        height: 50px;
        margin: 0px;
        padding: 0px 140px 0px 30px;
    }
        form.big-searcher input[type="text"]:focus,
        form.big-searcher input[type="text"]:active,
        form.big-searcher input[type=text]:not(.browser-default):focus,
        form.big-searcher input[type=text]:not(.browser-default):active {
            border-bottom: 1px solid #00396f !important;
            box-shadow: none !important;
        }
    form.big-searcher input[type="submit"] {
        background-color: #00396f;
        border-radius: 30px;
        border: none;
        display: inline-block;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        padding: 16px 40px;
        position: absolute;
        right: 0px;
        top: 0px;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        text-decoration: none;
    }

/*Slider styles*/
.main.home .big-slider img {
    width: 100%;
}

.big-slider .slick-prev, .big-slider .slick-next {
    top: -webkit-calc(50% - 35px);
    top: -moz-calc(50% - 35px);
    top: -ms-calc(50% - 35px);
    top: calc(50% - 35px);
}

.big-slider .item {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    position: relative;
}

.big-slider .slider-link {
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
}

.big-slider .bg-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0px;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}

.big-slider img.visible-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 2;
}

.big-slider img.hidden-img {
    visibility: hidden;
    opacity: 0;
    width: 100%;
}

.big-slider .item-0 {
    z-index: 3;
}
.big-slider .item-0 img.visible-img {
    top: 100%;
}
    .big-slider .item-0.slick-current {
        z-index: 3;
    }
        .big-slider .item-0.slick-current img.visible-img {
            top: 0%;
        }

.item-1 img.visible-img {
    left: 100%;
}
    .item-1.slick-current {
        z-index: 3;
    }
        .item-1.slick-current img.visible-img {
            left: 0%;
        }

.item-2 img.visible-img {
    top: -100%;
}
    .item-2.slick-current {
        z-index: 3;
    }
        .item-2.slick-current img.visible-img {
            top: 0px;
        }

.item-3 img.visible-img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(2);
}
    .item-3.slick-current {
        z-index: 3;
    }
        .item-3.slick-current img.visible-img {
            transform: translate(-50%, -50%) scale(1);
        }

/*Common banners*/
.common-banner {
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
    padding: 0px 30px;
    position: relative;
}
    .common-banner.example {
        background: url('/img/banner/banner-example-02.jpg');
        background-position: center;
        background-size: cover;
    }
    .common-banner p {
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 5px #000;
    }
    .common-banner img {
        height: auto;
        left: 50%;
        margin: 0px;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .common-banner a.banner-link {
        bottom: 0px;
        display: block;
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 10;
    }

/*Home styles*/
.main.home .searcher-block {
    background-color: #f5f5f5;
}

.books-block .col-left {
    border-right: 1px solid #eaeaea;
}
    .main.home .books-block .title {
        font-size: 30px;
    }
    .main.home .content-block .title {
        font-size: 35px;
    }

.main.home .authors-block {
    background-color: #eaeaea;
    border-bottom: 1px solid #ccc;
}

.main.home .books-loop {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.main.home .content-block .btn-large-container {
    text-align: center;
}
    .main.home .posts-block .btn-large-container {
        margin-top: 30px;
    }
        .main.home .content-block .btn-large-container .button {
            min-width: 300px;
        }

/*Notifications modal*/
#notification-modal {
    max-height: 90%;
    text-align: center;
    z-index: 1000000 !important;
}
#notification-modal #resp-icon a {
    background-color: #000;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 60px;
    height: 100px;
    line-height: 100px;
    width: 100px;
}
    #notification-modal #resp-icon a.check {
        background-color: #55b9d4;
    }
    #notification-modal #resp-icon a.error {
        background-color: red;
    }

    #notification-modal #resp-text {
        font-size: 20px;
    }
    #notification-modal #resp-desc {
        color: #666;
        font-style: italic;
        font-size: 14px;
    }

#notification-modal .modal-footer {
    text-align: center;
}

/*Dealers modal*/
#dealers-modal {
    max-height: 80%;
    width: 90%;
}
    #dealers-modal .modal-description .title {
        margin-bottom: 10px;
    }

    #dealers-modal .modal-dealers {
        margin-top: 30px;
    }
        #dealers-modal .modal-dealers thead th {
            border-bottom: 1px solid #ccc;
            color: #00396f;
        }

        #dealers-modal .modal-dealers tbody td.name {
            color: #666666;
            font-weight: bold;
        }

    #dealers-modal .modal-description,
    #dealers-modal .modal-footer {
        text-align: center;
    }

/*Material progress bar*/
.loader.hidde {
    display: none;
}
    .loader.fixed {
        left: 0px;
        position: fixed;
        right: 0px;
        top: 132px;
        z-index: 100000;
    }
    .progress {
        background-color: #85d2ff !important;
    }
        .progress .indeterminate {
            background-color: #00396f !important;
        }

/*Slick slider*/
.slick-slider .slick-list {
    width: 100% !important;
}

/*Books loop's*/
.books-loop {
    display: flex;
    flex-flow: row wrap;
    font-family: Tahoma;
    justify-content: left;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}
    .books-loop .item {
        background-color: #f5f5f5;
        margin: 15px;
        outline: 0;
        transition: .4s;
        visibility: visible!important;
        text-align: center;
        width: 100%;
    }
        .books-loop.slick-slider .item.slick-slide {
            background-color: transparent;
            padding: 15px;
            margin: 0px;
            max-width: none !important;
        }
            .books-loop.slick-slider .item.slick-slide .info:before {
                background-color: #f5f5f5;
                bottom: -20px;
                content: '';
                left: 0;
                position: absolute;
                right: 0;
                top: -20px;
                z-index: -1;
            }

        .books-loop.items-per-page-2 .item {
            max-width: -ms-calc(50% - 30px);
            max-width: -o-calc(50% - 30px);
            max-width: calc(50% - 30px);
        }
        .books-loop.items-per-page-4 .item {
            max-width: -ms-calc(25% - 30px);
            max-width: -o-calc(25% - 30px);
            max-width: calc(25% - 30px);
        }

    .books-loop .item > * {
        outline: 0;
    }

    .books-loop .item p {
        margin: 0;
    }

    .books-loop .item .contain-img {
        background-color: #fff;
        border-bottom: 1px solid #a5a5a5;
        display: block;
        padding-bottom: 100%;
        position: relative;
    }
        .books-loop .item .contain-img .target {
            color: #fff;
            font-family: Tahoma;
            font-weight: bold;
            font-size: 14px;
            line-height: 100%;
            position: absolute;
            padding: 8px 15px;
            z-index: 100;
        }
            .books-loop .item .contain-img .target:before {
                border-top: 15px solid transparent;
                border-left: 15px solid;
                border-bottom: 15px solid transparent;
                content: '';
                height: 0;
                left: 100%;
                position: absolute;
                top: 0px;
                width: 0;
            }
                .books-loop .item .contain-img .target.offer {
                    background-color: #e2231a;
                }
                    .books-loop .item .contain-img .target.offer:before {
                        border-left-color: #e2231a;
                    }
                .books-loop .item .contain-img .target.spent {
                    background-color: #55b9d4;
                }
                    .books-loop .item .contain-img .target.spent:before {
                        border-left-color: #55b9d4;
                    }
                .books-loop .item .contain-img .target.release {
                    background-color: #00396f;
                }
                    .books-loop .item .contain-img .target.release:before {
                        border-left-color: #00396f;
                    }

        .books-loop .item .contain-img img {
            display: block;
            left: 50%;
            max-height: 85%;
            max-width: 75%;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }

    .books-loop .item .versions {
        margin-top: -20px;
        padding: 0 30px;
        position: relative;
        text-align: left;
    }
        .books-loop .item .versions a {
            background-color: #fff;
            border-radius: 50%;
            border: 1px solid #a5a5a5;
            display: inline-block;
            font-size: 16px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            width: 40px;
        }

    .books-loop .item .info {
        padding: 15px 25px 20px;
        position: relative;
        text-align: left;
    }
        .books-loop .item .name {
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 10px;
            margin-top: 0;
        }
            .books-loop .item .name a {
                color: #00396f;
                text-decoration: none;
                width: 100%;
            }
        .books-loop .item .authors > span {
            margin-right: 3px;
        }
            .books-loop .item .authors a {
                color: #666;
                font-size: 14px;
                font-weight: 700;
            }

        .books-loop .item .actions {
            align-items: center;
            display: flex;
            flex-flow: row wrap;
            font-size: 24px;
            justify-content: space-between;
            margin-top: 10px;
        }
            .books-loop .item .actions .price {
                color: #00396f;
                font-weight: 700;
                font-size: 18px;
            }
                .books-loop .item .actions .price span.offer-price {
                    color: #666;
                    font-size: 14px;
                    font-style: italic;
                    text-decoration: line-through;
                }
            .books-loop .item .actions a {
                cursor: pointer;
                display: inline-block;
                height: 30px;
                line-height: 35px;
                text-align: center;
                text-decoration: none;
                width: 30px;
            }
                .books-loop .item .actions .cart-btn {
                    color: #00396f;
                }
                .books-loop .item .actions .hearth-btn {
                    color: #e2231a;
                }
        .books-loop .item .actions.without-price {
            justify-content: flex-start;
        }
            .books-loop .item .actions.without-price .hearth-btn {
                font-size: 15px;
                line-height: normal;
                width: auto;
            }
                .books-loop .item .actions.without-price .hearth-btn span {
                    font-size: 24px;
                    vertical-align: sub;
                }

/*Authors loop*/
.authors-loop {
    display: flex;
    flex-flow: row wrap;
    font-family: Tahoma;
    justify-content: left;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}
    .authors-loop .item {
        border-radius: 5px;
        margin: 15px;
        padding: 20px 0px;
        outline: 0;
        transition: .4s;
        visibility: visible!important;
        text-align: center;
        width: 100%;
    }
        .authors-loop .item:hover {
            background-color: #f5f5f5;
        }
        .authors-loop.items-per-page-2 .item {
            max-width: -ms-calc(50% - 30px);
            max-width: -o-calc(50% - 30px);
            max-width: calc(50% - 30px);
        }
        .authors-loop.items-per-page-4 .item {
            max-width: -ms-calc(25% - 30px);
            max-width: -o-calc(25% - 30px);
            max-width: calc(25% - 30px);
        }

    .authors-loop .item, .authors-loop .item > * {
        outline: 0;
    }

    .authors-loop .item p {
        margin: 0;
    }

    .authors-loop .content {
        font-family: 'Tahoma';
        margin: 0px auto;
        text-align: center;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        width: 90%;
    }
        .authors-loop .image {
            border-radius: 50%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            height: 150px;
            margin: 0px auto 20px;
            overflow: hidden;
            width: 150px;
        }
            .authors-loop .image a {
                display: block;
                height: 150px;
                overflow: hidden;
                position: relative;
                width: 150px;
            }
                .authors-loop .image img {
                    left: 50%;
                    max-height: 150px;
                    min-height: 100%;
                    max-width: 150px;
                    min-width: 100%;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
        .authors-loop .name, .authors-loop .name a {
            color: #00396F;
            font-size: 20px;
            font-weight: bold;
            line-height: normal;
            margin-bottom: 10px;
            margin-top: 0px;
        }
        .authors-loop .description {
            color: #666666;
            margin: 20px 10px;
        }

/*Posts loop*/
.posts-loop {
    display: flex;
    flex-flow: row wrap;
    font-family: Tahoma;
    justify-content: left;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}
    .posts-loop .item {
        background-color: #f5f5f5;
        margin: 15px;
        outline: 0;
        transition: .4s;
        visibility: visible!important;
        text-align: center;
        width: 100%;
    }
        .posts-loop.slick-slider .item.slick-slide {
            background-color: transparent;
            padding: 15px;
            margin: 0px;
            max-width: none !important;
        }
            .posts-loop.slick-slider .item.slick-slide .info:before {
                background-color: #f5f5f5;
                bottom: -20px;
                content: '';
                left: 0;
                position: absolute;
                right: 0;
                top: -20px;
                z-index: -1;
            }

        .posts-loop.items-per-page-2 .item {
            max-width: -ms-calc(50% - 30px);
            max-width: -o-calc(50% - 30px);
            max-width: calc(50% - 30px);
        }
        .posts-loop.items-per-page-4 .item {
            max-width: -ms-calc(25% - 30px);
            max-width: -o-calc(25% - 30px);
            max-width: calc(25% - 30px);
        }

    .posts-loop .item > * {
        outline: 0;
    }

    .posts-loop .item p {
        margin: 0;
    }

    .posts-loop .item .contain-img {
        background-color: #fff;
        border-bottom: 1px solid #a5a5a5;
        display: block;
        overflow: hidden;
        padding-bottom: 65%;
        position: relative;
    }
        .posts-loop .item .contain-img img {
            display: block;
            left: 50%;
            height: 100%;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }

    .posts-loop .item .info {
        padding: 15px 30px 0px;
        position: relative;
        text-align: left;
    }
        .posts-loop .item .name {
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 10px;
            margin-top: 0;
        }
            .posts-loop .item .name a {
                color: #00396f;
                text-decoration: none;
                width: 100%;
            }

        .posts-loop .item .excerpt {
            font-size: 14px;
        }

        .posts-loop .item .actions {
            align-items: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-top: 10px;
        }
            .posts-loop .item .actions .button {
                font-size: 14px;
                padding: 7px 10px;
            }
            .posts-loop .item .actions .social-share {
                border-radius: 50%;
                display: inline-block;
                color: #fff;
                font-size: 16px;
                line-height: 35px;
                height: 35px;
                text-align: center;
                width: 35px;
            }
                .posts-loop .item .actions .social-share.facebook {
                    background-color: #3b579d;
                }
                .posts-loop .item .actions .social-share.twitter {
                    background-color: #27a5da;
                }

/*Slick Carouse*/
.slick-prev, .slick-next {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    font-size: 0;
    height: 70px;
    opacity: 0.2;
    position: absolute;
    top: -webkit-calc(50% - 100px);
    top: -moz-calc(50% - 100px);
    top: -ms-calc(50% - 100px);
    top: calc(50% - 100px);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 54px;
    z-index: 1;
}
    .slick-prev {
        background-image: url('/img/common/left-carousel-btn.png');
        left: 0px;
    }
    .slick-next {
        background-image: url('/img/common/right-carousel-btn.png');
        right: 0px;
    }
    .slick-prev:hover, .slick-next:hover {
        opacity: 1;
    }
    .slick-prev:focus, .slick-next:focus,
    .slick-prev:active, .slick-next:active {
        background-color: transparent;
    }

.slick-frame {
    visibility: hidden;
}
.slick-frame.slick-initialized {
    visibility: visible;
}

.main .pagination {
    text-align: center;
}
    .main .pagination li.active {
        background-color: #00396f;
        color: #fff;
    }
        .main .pagination li.active .page-link {
            color: #fff;
            cursor: initial;
        }
    .main .pagination li.page-item.disabled {
        background-color: #eaeaea;
    }
    .main .pagination li:hover {
        background-color: #55b9d4;
    }
        .main .pagination li:hover .page-link {
            color: #fff;
        }

        .main .pagination .page-item .page-link {
            color: #444;
            display: inline-block;
            font-size: 1.2rem;
            padding: 0 10px;
            line-height: 30px;
        }

/*Search page*/
.search-page .header-page {
    background-color: #F5F5F5;
    font-size: 25px;
    padding: 30px 5% 0px;
    position: relative;
    text-align: center;
}

/*Terms and conditions page*/
.main.terms-and-conditions .subtitle {
    font-size: 24px;
    font-weight: bold;
}

.main.terms-and-conditions .fragment-id {
    position: absolute;
    margin-top: -140px;
}

/*Specialty page styles*/
.specialty-title {
    background-image: url('/img/common/titles-bg.png');
    background-position: left center;
    background-size: cover;
    color: #fff;
    font-family: Tahoma;
    font-size: 30px;
    font-weight: 700;
    padding: 15px 5%;
}
    .specialty-title > * {
        font-size: 28px;
        font-weight: 700;
        margin: 0;
    }

.specialties-loop {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;;
}
    .specialties-loop .item {
        background-color: transparent;
        border-radius: 5px;
        margin: 20px;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        max-width: -webkit-calc(16.6% - 40px);
        max-width: -moz-calc(16.6% - 40px);
        max-width: -ms-calc(16.6% - 40px);
        max-width: calc(16.6% - 40px);
        width: 100%;
    }
        .specialties-loop .item:hover {
            background-color: #f5f5f5;
        }
        .specialties-loop .item img.specialty-image {
            background-image: url(https://amolca.webussines.com/uploads/images/no-image.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            height: 130px;
            width: 130px;
            margin: auto;
            display: block;
        }

/*Books page styles*/
.main.book .row.author-item {
    margin-bottom: 10px;
}
    .main.book .author-item .image img {
        border-radius: 50%;
        overflow: hidden;
        height: auto;
        max-width: 100%;
    }
    .main.book .author-item .name {
        font-size: 25px;
    }
    .main.book .author-item .description {
        margin: 10px auto;
    }

.main.book .related-products {
    background-color: #fff;
    position: relative;
    z-index: 100;
}

/*Authors page styles*/
.author-books .subtitle {
    color: #00396F;
    padding-left: 15px;
}

.author .image-container {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 250px;
}
    .author .image-container img {
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate( -50%, -50% );
        -moz-transform: translate( -50%, -50% );
        -ms-transform: translate( -50%, -50% );
        transform: translate( -50%, -50% );
    }

    .author .name {
        color: #00396F;
        font-size: 40px;
        font-weight: bold;
        margin-top: 0px;
    }
    .author .description {
        color: #666666;
        font-size: 18px;
    }

.author .common-separator {
    background-color: #cccccc;
    margin: 60px auto 40px;
}

/*Page not (empty) found*/
.search-not-found .title {
    color: #666666;
    font-size: 35px;
    line-height: 100%;
    margin-bottom: 40px;
}

.main.not-found .title {
    color: #666666;
    font-size: 50px;
    line-height: 100%;
    margin-bottom: 40px;
}
    .main.not-found .content-not-found {
        padding: 100px 5%;
    }

    .social-list {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
        .social-list li {
            margin: 5px;
        }
            .social-list li a.social {
                background-color: #00396f;
                border-radius: 5px;
                color: #fff;
                display: flex;
                flex-flow: column wrap;
                font-size: 18px;
                height: 42px;
                justify-content: center;
                line-height: 42px;
                text-align: center;
                -webkit-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
                width: 42px;
            }

/*Contact page*/
.main.contact textarea,
.main.contact textarea.materialize-textarea {
    height: 75px;
}
.main.contact .terms-condition {
    line-height: 24px;
    margin: 10px;
    text-align: center;
}
    .main.contact .terms-condition span {
        font-size: 16px;
        font-family: Tahoma;
    }

.main.contact .btns-column {
    padding-top: 20px;
    position: relative;
    text-align: center;
}
    .main.contact .btns-column .button {
        font-size: 18px;
        padding: 15px 30px;
    }
    .main.contact .contact-form input {
        margin: 0px;
        min-width: 200px;
    }

/*Catalogs page*/
.catalogs-list {
  align-items: top;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
  .catalogs-list .item {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    max-width: -webkit-calc( 20% - 20px );
    max-width: -moz-calc( 20% - 20px );
    max-width: -ms-calc( 20% - 20px );
    max-width: calc( 20% - 20px );
    width: 100%;
  }
    .catalogs-list .item:hover {
      border-color: #00396f;
    }
    .catalogs-list .item img {
      max-width: 150px;
    }
    .catalogs-list .item .title {
      font-size: 16px;
      margin: 10px 0px 20px;
    }
    .catalogs-list .item .button {
      font-size: 12px;
    }

/*Footer styles*/
.footer {
    background-color: #eaeaea;
    color: #a5a5a5;
    font-family: Tahoma;
    line-height: normal;
    padding: 30px 5%;
    position: relative;
    z-index: 100;
}
    .footer p {
        font-size: 15px;
        margin-bottom: 7px;
        margin-top: 7px;
    }
    .footer a {
        color: #a5a5a5;
        text-decoration: none;
    }
        .footer a:hover {
            text-decoration: underline;
        }
    .footer .title {
        color: #666666;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 0;
        text-align: left;
    }

    .footer .custom-row {
        display: flex;
        flex-flow: row wrap;
    }
        .footer .custom-row .custom-col {
            padding-left: 10px;
            padding-right: 10px;
            width: 20%;
        }
            .footer .custom-row .custom-col:first-child {
                padding-left: 0;
            }
            .footer .custom-row .custom-col:last-child {
                padding-right: 0;
            }

/*Contact blocks footer*/
.footer .block-contact {
    font-size: 25px;
    font-weight: 700;
}
    .custom-row .custom-col.block-contact {
        width: 30%;
    }
        .custom-row .custom-col.block-contact .title {
            text-transform: capitalize;
        }

    .footer .block-contact #direction {
        display: block;
        margin-bottom: 20px;
    }
    .footer .block-contact #mobile,
    .footer .block-contact #phone,
    .footer .block-contact #mobile a,
    .footer .block-contact #phone a {
        color: #666;
        font-size: 20px;
    }

/*Bottom bar*/
#bottom-bar {
    background-color: #00396f;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    font-family: Tahoma;
    font-size: 14px;
    justify-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    z-index: 100;
}
    #bottom-bar .item {
        padding: 17px 25px;
    }
        #bottom-bar .item:first-child {
            padding-left: 0;
        }
        #bottom-bar .item:last-child {
            padding-right: 0;
        }
        #bottom-bar .item#copy, #bottom-bar .item#designed, #bottom-bar .item#designed a {
            color: #a1b3c7;
        }
        #bottom-bar .item#designed {
            display: none;
            position: absolute;
            right: 5%;
        }
