/*Global header style*/
.header {
    background-color: #F5F5F5;
    border-bottom: 1px solid #cccccc;
    left: 0%;
    height: 50px;
    padding-left: 0;
    padding-right: 20px;
    position: fixed;
    top: 0px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 100%;
    z-index: 100;
}
    .header.menu-hidden {
        left: 0px;
    }

/*Menu button*/
.hide-menu-btn {
    background-color: #00396F;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 50px;
    float: left;
    font-size: 16px;
    line-height: 50px;
    outline: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 50px;
}
    .hide-menu-btn .icon-th-menu {
        display: none;
    }
    .hide-menu-btn.menu-hidden .icon-th-small {
        display: none;
    }
    .hide-menu-btn.menu-hidden .icon-th-menu {
        display: inline-block;
    }
    .hide-menu-btn:hover {
        background-color: #00396F;
        color: #fff;
    }

/*Site title*/
.site-title {
    float: left;
    font-size: 24px;
    font-weight: 900;
    height: 50px;
    line-height: 47px;
    margin-left: 20px;
}


/*User button and dropdown*/
.user-btn {
    color: #666666;
    cursor: pointer;
    display: block;
    float: right;
    height: 50px;
    line-height: 47px;
    outline: 0;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
    .user-btn:hover {
        background-color: #00396F;
        color: #fff;
    }
    .user-btn span {
        color: #00396F;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
        .user-btn:hover span {
            color: #fff;
        }
            .user-btn span span {
                color: #fff;
            }

    ul#user-menu-dropdown {
        padding: 7px 0px;
        top: 50px !important;
    }
        ul#user-menu-dropdown li a {
            color: #666;
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            padding: 15px;
            -webkit-transition: all 0.4s ease;;
            -o-transition: all 0.4s ease;;
            transition: all 0.4s ease;;
            width: 100%;
        }

/*Menu styles*/
.nav-menu {
    background-color: #F5F5F5;
    bottom: 0px;
    color: #666666;
    left: 0px;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: -ms-calc(100% - 50px);
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: auto;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 20%;
}
    .nav-menu.menu-hidden {
        width: 50px;
    }
        .nav-menu.menu-hidden > ul > li > a {
            padding-right: 0px !important;
        }
            .nav-menu.menu-hidden span.text {
                display: none;
            }

        .nav-menu.menu-hidden .submenu {
            display: none;
        }

    .nav-menu::-webkit-scrollbar-track {
        background-color: #F5F5F5;
    }
    .nav-menu::-webkit-scrollbar {
        background-color: rgba(0,0,0,0.2);
        width: 7px;
    }
    .nav-menu::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: rgba(0,0,0,0.2);
    }

    .nav-menu ul.vmenu {
        display: flex;
        flex-flow: column wrap;
        list-style: none;
    }
        .nav-menu ul.vmenu > li {
            border-bottom: 1px solid #cccccc;
            position: relative;
        }
            .nav-menu ul.vmenu > li:last-child {
                border-bottom-color: transparent;
            }

            .nav-menu ul.vmenu > li > a {
                align-items: center;
                background-color: transparent;
                color: #666666;
                cursor: pointer;
                display: flex;
                font-family: 'Tahoma';
                font-size: 16px;
                font-weight: 400;
                flex-flow: row nowrap;
                justify-content: flex-start;
                letter-spacing: 1px;
                height: 45px;
                outline: 0;
                padding-right: 15px;
                -webkit-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
                width: 100%;
            }
                .nav-menu ul.vmenu > li > a:hover, .nav-menu ul.vmenu > li > a:active,
                .nav-menu ul.vmenu > li > a.actived {
                    background-color: #00396F;
                    color: #fff;
                }

                .nav-menu ul.vmenu > li > a span {
                    line-height: 45px;
                }
                    .nav-menu ul.vmenu > li > a span.icon {
                        font-size: 18px;
                        text-align: center;
                        width: 50px;
                    }

                    .nav-menu ul.vmenu > li > a span.text {
                        width: -webkit-calc(100% - 50px);
                        width: -moz-calc(100% - 50px);
                        width: -ms-calc(100% - 50px);
                        width: calc(100% - 50px);
                    }

            .nav-menu ul.vmenu > li .submenu {
                border-top: 1px solid #cccccc;
                display: none;
                padding: 0px;
                position: relative;
            }
                .nav-menu ul.vmenu > li .submenu:before {
                    content: '';
                    background-color: #666666;
                    bottom: 20px;
                    left: 24px;
                    position: absolute;
                    top: 0px;
                    width: 2px;
                    z-index: 1;
                }

                .nav-menu ul.vmenu > li .submenu li {
                    position: relative;
                }
                    .nav-menu ul.vmenu > li .submenu li:after {
                        content: '';
                        background-color: #ededed;
                        border: 2px solid #666666;
                        border-radius: 50%;
                        left: 20px;
                        height: 10px;
                        position: absolute;
                        top: -webkit-calc(50% - 5px);
                        top: -moz-calc(50% - 5px);
                        top: -ms-calc(50% - 5px);
                        top: calc(50% - 5px);
                        -webkit-transition: all 0.4s ease;
                        -o-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                        width: 10px;
                        z-index: 1;
                    }

                    .nav-menu ul.vmenu > li .submenu li:hover:after {
                        background-color: #666666;
                    }
                    
                    .nav-menu ul.vmenu > li .submenu li a {
                        background-color: #ededed;
                        color: #A5A5A5;
                        display: block;
                        font-size: 16px;
                        line-height: 40px;
                        padding-left: 50px;
                    }

/*Main styles*/
.main {
    max-height: -ms-calc(100% - 50px);
    max-height: -o-calc(100% - 50px);
    max-height: calc(100% - 50px);
    height: 100%;
    left: 20%;
    overflow-x: auto;
    padding: 20px;
    position: fixed;
    top: 50px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 80%;
}
    .main.single {
        padding: 20px 0px;
    }

/*Sections*/
.section-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/*Section header*/
.single.section-header {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
}
    .single.section-header .title {
        font-size: 25px;
        font-weight: 700;
    }

.subsection-header {
    background-color: #00396f;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;
}
    .subsection-header .title {
        font-size: 25px;
        font-weight: bold;
    }

.fixed-action-btn {
    right: 40px;
}
    .btn-floating.save-resource {
        line-height: 65px;
    }
        .btn-floating.save-resource span {
            font-size: 24px;
        }
    .btn-floating.go-all-resources {
        line-height: 58px;
    }

/*Data tables styles*/
.data-table {
    width: 100% !important;
}

    .dataTables_wrapper .dt-buttons {
        float: left;
        margin-top: 22px;
        margin-right: 15px;
    }
        .dataTables_wrapper .dt-buttons .button,
        .dataTables_wrapper .dt-buttons button.button {
            padding-bottom: 13.5px !important;
            padding-top: 13.5px !important;
        }

    .data-table thead th {
        color: rgba(0,0,0,.54);
        font-family: 'Tahoma';
        font-size: 13px;
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
    }
        .data-table thead th.title {
            text-align: left;
        }

    .data-table .image {
        padding-left: 0;
        max-width: 120px;
        min-width: 120px;
    }
        .data-table .image img {
            display: block;
            margin: auto;
            width: 50px;
        }

    .data-table tr:hover {
        background-color: #f5f5f5;
    }

    .data-table td {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
        .data-table td.title {
            font-weight: 700;
            justify-content: left;
            padding-right: 10px;
            text-align: left;
        }
            .data-table.books td.title {
                text-align: left;
                max-width: 35%;
                min-width: 35%;
                width: 35%;
            }

        .data-table td.actions {
            position: relative;
        }
            .data-table td.actions > a {
                color: #878786;
                cursor: pointer;
                display: inline-block;
                font-size: 20px;
                margin: 0 5px;
                text-align: center;
                -webkit-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
                width: 20px;
            }
                .data-table td.actions > a.see {
                    font-size: 14px;
                    text-transform: uppercase;
                    background: #00396f;
                    border-radius: 5px;
                    color: #fff;
                    width: auto;
                    padding: 7px 15px;
                }
                    .data-table td.actions > a.see:hover {
                        background-color: #55b9d4;
                    }
                    .data-table td.actions > a.edit:hover {
                        color: #55b9d4;
                    }
                    .data-table td.actions > a.delete:hover {
                        color: #E2231A;
                    }

.mce-notification-warning {
    display: none !important;
}

/*Books Inventory*/
table.inventory th.title {
    width: 35% !important;
}
table.inventory th.countries {
    width: 200px !important;
}
table.inventory th.actions {
    width: 75px !important;
}

div#book-modal {
    max-height: 80%;
    height: 100%;
    width: 80%;
}
    div#book-modal.modal-fixed-footer .modal-content {
        max-height: -webkit-calc(100% - 80px);
        max-height: -moz-calc(100% - 80px);
        max-height: -ms-calc(100% - 80px);
        max-height: calc(100% - 80px);
    }
    div#book-modal .modal-footer {
        height: 80px;
        padding-left: 30px;
        padding-right: 30px;
    }

    div#book-modal .col-versions {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        margin: 10px auto;
    }
        div#book-modal .col-versions .version {
            margin-left: 20px;
        }
            div#book-modal .col-versions .version:first-child {
                margin-left: 0px;
            }

            div#book-modal .col-versions .version p{
                color: #666;
                font-size: 16px;
                font-family: 'Tahoma';
            }

            div#book-modal .col-versions .version [type="checkbox"]+span:not(.lever) {
                padding-left: 25px;
            }

/*Uploaders*/
.loader.top {
    left: 20%;
    position: fixed;
    right: 0px;
    top: 42px;
    z-index: 100000;
}

.col.col-image {
    position: relative;
}

.image-wrap {
    position: relative;
}
    .image-wrap img {
        display: block;
        margin: 0px auto 30px;
        max-width: 100%;
        width: 250px;
    }

    .image-wrap .circle-preloader {
        left: -webkit-calc(50% - 32px);
        left: -moz-calc(50% - 32px);
        left: -ms-calc(50% - 32px);
        left: calc(50% - 32px);
        position: absolute;
        top: -webkit-calc(50% - 32px);
        top: -moz-calc(50% - 32px);
        top: -ms-calc(50% - 32px);
        top: calc(50% - 32px);
        opacity: 0;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
        .image-wrap .circle-preloader.show {
            opacity: 1;
        }

.global-upload-wrap .desc {
    color: #666;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}
    #image-error {
        display: none;
        font-style: italic;
        text-align: center;
    }
    #image-error.success {
        color: #4CAF50;
    }

.file-upload-wrapper {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
    .file-upload-wrapper #upload-file-btn, #save-file-btn {
        border: 2px solid;
        cursor: pointer;
        padding: 10px 20px 13px;
        font-family: 'Tahoma';
        font-weight: bold;
        letter-spacing: 1px;
        line-height: normal;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        width: 100%;
    }
        .file-upload-wrapper #upload-file-btn.upload {
            background-color: #55b9d4;
            border-color: #55b9d4;
            color: #fff;
        }
        .file-upload-wrapper:hover #upload-file-btn.upload {
            background-color: #00396F;
            border-color: #00396F;
        }

        #save-file-btn {
            background-color: #4CAF50;
            border-color: #4CAF50;
            color: #fff;
            display: none;
        }
        #save-file-btn:hover {
            background-color: #2f7b32;
            border-color: #2f7b32;
        }

    .file-upload-wrapper input[type=file] {
        cursor: pointer;
        font-size: 70px;
        position: absolute;
        height: 66px;
        top: 0;
        opacity: 0;
        right: 0;
    }

.global-upload-wrap .cancel {
    color: red;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
}