/*
    VARIABLES

    //Blue colors
    $primary-color: #00396F;
    $blue-dark: #001f3c;
    $blue-light: #55B9D4;
    $blue-opacity: #A1B3C7;

    //Red colors
    $red: #E2231A;
    $red-dark: #b4170f;

    //Gray colors
    $primary-gray: #878786;
    $gray-dark: #666666;
    $gray-min-dark: #cccccc;
    $gray-light: #A5A5A5;
    $gray-sup-light: #F5F5F5;
    $gray-medium: #ededed;

    //White colors
    $white-color: #ffffff;
    $white-light: #f7f7f7;
    $white-dark: #eaeaea;
    $white-transparence: rgba(255,255,255,0.5);

    //Fonts
    $primary-font: 'Montserrat';

    $sm-font: 13px;
    $md-font: 16px;
    $lg-font: 25px;
    $xlg-font: 40px;
*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

.main.auth {
    background-color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/*Global text*/
.error {
    color: #E2231A;
    margin-bottom: 10px;
}

/*TinyMCE editor*/
.mce-panel.mce-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Buttons*/
.button, button.button, input.button {
    border-radius: 5px !important;
    border: none !important;
    cursor: pointer;
    display: inline-block;
    font-family: 'Tahoma';
    font-size: 16px!important;
    font-weight: 500!important;
    outline: 0;
    padding: 11px 15px!important;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    .button[disabled] {
        cursor: initial;
        opacity: 0.6;
    }

    .button.primary,
    button.button.primary,
    input.button.primary {
        background-color: #00396F;
        color: #fff !important;
    }

    .button.danger,
    button.button.danger,
    input.button.danger {
        background-color: #E2231A;
        color: #fff !important;
    }

/*Form's*/
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea, textarea  {
    border-radius: 5px !important;
    border: 1px solid #A5A5A5 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box !important;
    color: #666666 !important;
    font-family: 'Tahoma';
    font-weight: 300;
    outline: 0;
    padding: 10px 15px !important;
}
    input:not([type]):focus, input[type=text]:not(.browser-default):focus, input[type=password]:not(.browser-default):focus, input[type=email]:not(.browser-default):focus, input[type=url]:not(.browser-default):focus, input[type=time]:not(.browser-default):focus, input[type=date]:not(.browser-default):focus, input[type=datetime]:not(.browser-default):focus, input[type=datetime-local]:not(.browser-default):focus, input[type=tel]:not(.browser-default):focus, input[type=number]:not(.browser-default):focus, input[type=search]:not(.browser-default):focus, textarea.materialize-textarea:focus, textarea:focus {
        border: 1px solid #00396F !important;
        box-shadow: none !important;
    }

textarea.materialize-textarea, textarea {
    font-size: 16px;
    height: 75px;
    padding-bottom: 10px;
    padding-top: 10px;
}

input:not([type]).field-error, input[type=text]:not(.browser-default).field-error, input[type=password]:not(.browser-default).field-error, input[type=email]:not(.browser-default).field-error, input[type=url]:not(.browser-default).field-error, input[type=time]:not(.browser-default).field-error, input[type=date]:not(.browser-default).field-error, input[type=datetime]:not(.browser-default).field-error, input[type=datetime-local]:not(.browser-default).field-error, input[type=tel]:not(.browser-default).field-error, input[type=number]:not(.browser-default).field-error, input[type=search]:not(.browser-default).field-error, textarea.materialize-textarea.field-error, textarea.field-error, .field-error {
    border-color: red !important;
}

/*Checkboxes*/
.main [type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #00396f;
    border-bottom: 2px solid #00396f;
}

/*Requireds*/
.required {
    color: red;
}

/*Select2 lists*/
.select2-container--default .select2-selection--single {
    border: none;
    box-shadow: none;
    outline: 0;
}
    .main .select2-container--default .select2-selection--single .select2-selection__rendered {
        box-shadow: none;
        line-height: 44px;
        outline: 0;
        padding-left: 10px;
        text-transform: uppercase;
    }
        .main .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 44px;
        }

.main .select2-container--default .select2-search--inline .select2-search__field,
.main .select2-container--default .select2-search--inline .select2-search__field:focus {
    border: 0px !important;
    font-size: 16px;
    height: auto;
    line-height: 28px;
    margin-top: 9px;
    padding: 0px !important;
}

.main .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
    padding: 8px 10px;
}

/*Material progress bar*/
.loader.hidde {
    display: none;
}
    .progress {
        background-color: #85d2ff !important;
    }
        .progress .indeterminate {
            background-color: #00396f !important;
        }

.toast.bottom.left {
    left: 23% !important;
    right: auto !important;
}

.toast.bottom {
    bottom: 5%;
    left: auto;
    position: fixed;
    right: 5%;
    top: auto !important;
    z-index: 1000;
}

/*Nav menu*/
nav-menu {
    bottom: 0px;
    left: 0px;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: -ms-calc(100% - 50px);
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: auto;
    width: 20%;
}

/*Header User menu*/
.user-menu {
    margin-top: 50px;
}
    .user-menu li {
        list-style: none;
    }
        .user-menu li a {
            color: #666666;
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            padding: 10px 15px;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            width: 100%;
        }
            .user-menu li a:hover, .user-menu li a:active {
                background-color: #F5F5F5;
            }

/*Filter box to data tables*/
.mat-form-field.mat-focused .mat-form-field-label {
    color: #00396F;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #00396F;
}

.filter-form-field .mat-form-field-flex {
    align-items: center;
}
.filter-form-field .mat-form-field-infix {
    padding: 0px;
}
/*Select2 data list styles*/
.select2-container {
    margin-bottom: 8px !important;
    width: 100% !important;
}
    .select2-container .select2-selection--single {
        height: 45px !important;
    }

/*Actions menu to data tables*/
.actions-menu {
    cursor: pointer;
    margin-top: 28px;
}
    .actions-menu li {
        list-style: none;
    }
        .actions-menu li a {
            color: #666666;
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            padding: 10px 15px;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            width: 100%;
        }
            .actions-menu li a:hover, .actions-menu li a:active {
                background-color: #F5F5F5;
            }

/*Tabs*/
.main .top-tabs {
    background-color: #00396F;
}
    .main .top-tabs .indicator {
        background-color: #fff;
        height: 3px;
    }

    .main .top-tabs .tab a,
    .main .top-tabs .tab a {
        color: #b7b7b7;
        letter-spacing: 1px;
    }
        .main .top-tabs .tab a:hover,
        .main .top-tabs .tab a.active,
        .main .top-tabs .tab a:focus,
        .main .top-tabs .tab a:focus.active {
            background-color: #55b9d4;
            color: #fff;
        }

.main .inside-tabs {
    background-color: #F5F5F5;
}
    .main .inside-tabs .indicator {
        background-color: #fff;
        height: 3px;
    }

    .main .inside-tabs .tab a,
    .main .inside-tabs .tab a {
        color: #666666;
        letter-spacing: 1px;
    }
        .main .inside-tabs .tab a:hover,
        .main .inside-tabs .tab a.active,
        .main .inside-tabs .tab a:focus, 
        .main .inside-tabs .tab a:focus.active {
            background-color: #00396F;
            color: #fff;
        }

.content-tabs {
    padding: 30px;
}

.error-panel {
    display: none;
    position: relative;
}
    .error-panel b {
        color: #E2231A;
    }

.card-panel .hidde-panel {
    background-color: #E2231A;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 7px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}

/*Common buttons bottom bar*/
.fixed-bottom-btns {
    bottom: 20px;
    left: -webkit-calc(20% + 20px);
    left: -moz-calc(20% + 20px);
    left: -ms-calc(20% + 20px);
    left: calc(20% + 20px);
    position: fixed;
    right: 33px;
}
    .fixed-bottom-btns .float-left {
        float: left;
    }
    .fixed-bottom-btns .float-right {
        float: right;
    }

    .fixed-bottom-btns a,
    .fixed-bottom-btns .button,
    .fixed-bottom-btns input[type="button"],
    .fixed-bottom-btns input[type="submit"],
    .save-btn {
        background-color: #000;
        border-radius: 35px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        padding: 17px 20px;
        max-width: 350px;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }

/*Settings tables*/
.settings-table .subtitle {
    color: #00396f;
    font-size: 18px;
    font-weight: 700;
}
.settings-table td.option_name {
    width: 30%;
}
    .settings-table td.option_name label {
        font-size: 16px;
        font-style: italic;
    }

code {
    padding: 3px 5px 2px;
    margin: 0 1px;
    background: #eaeaea;
    background: rgba(0,0,0,.07);
}