form.event-edit {
	padding-bottom: 50px;
}

form.event-edit [type="radio"]:not(:checked)+span,
form.event-edit [type="radio"]:checked+span {
	padding-left: 25px;
	padding-right: 20px;
}

form.event-edit .meta-box.info-btn .radio-inputs {
	margin-bottom: 5px;
	margin-top: 5px;
}

form.event-edit .btn-input.hidden {
	display: none;
}