.col-image img {
	display: block;
	margin: auto;
	max-width: 90%;
}

/*Versions*/
.col-versions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 10px auto;
}
	.col-versions .version {
	    margin-left: 20px;
	}
		.col-versions .version:first-child {
			margin-left: 0px;
		}

		.col-versions .version p{
			color: #666;
		    font-size: 16px;
		    font-family: 'Tahoma';
		}

		.col-versions .version [type="checkbox"]+span:not(.lever) {
			padding-left: 25px;
		}

/*Specialties*/
.row.specialties > .col:first-child {
	border-right: 1px solid #ccc;
	padding-right: 30px;
}
.row.specialties > .col:last-child {
	padding-left: 30px;
}

	.row.specialties .parent {
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
	}
		.row.specialties .parent [type="checkbox"]+span:not(.lever) {
			color: #00396F;
			font-size: 20px;
			font-weight: bold;
	    	line-height: 21px;
		}

	.row.specialties .childs {
	    margin-left: 5px;
	    margin-top: 10px;
	}
		.row.specialties .childs .col {
			padding-bottom: 5px;
			padding-top: 5px;
		}

/*Navigations*/
.book-navigation {
	bottom: 23px;
	left: -webkit-calc(20% + 10px);
	left: -moz-calc(20% + 10px);
	left: -ms-calc(20% + 10px);
	left: calc(20% + 10px);
	position: fixed;
	right: auto;
}

a.btn-navigation {
    background-color: #000;
    border-radius: 35px;
    color: #fff;
    display: inline-block;
    padding: 17px 20px;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}
	a.btn-navigation.previous {
		background-color: #55b9d4;
	}
	a.btn-navigation.next {
		background-color: #00396F;
	}