.col.col-image {
	position: relative;
}
	.col-image img {
		display: block;
		margin: 0px auto 30px;
		max-width: 100%;
		width: 250px;
	}

.circle-preloader {
	left: -webkit-calc(50% - 32px);
	left: -moz-calc(50% - 32px);
	left: -ms-calc(50% - 32px);
	left: calc(50% - 32px);
	position: absolute;
	top: 90px;
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
	.circle-preloader.show {
		opacity: 1;
	}

.global-upload-wrap .desc {
	color: #666;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 10px;
	text-align: center;
}
	#image-error {
		display: none;
	    font-style: italic;
	    text-align: center;
	}
	#image-error.success {
		color: #4CAF50;
	}

.file-upload-wrapper {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 100%;
}
	.file-upload-wrapper #upload-file-btn, #save-file-btn {
		border: 2px solid;
		cursor: pointer;
		padding: 10px 20px 13px;
		font-family: 'Tahoma';
		font-weight: bold;
		letter-spacing: 1px;
		line-height: normal;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		width: 100%;
	}
		.file-upload-wrapper #upload-file-btn.upload {
			background-color: #55b9d4;
			border-color: #55b9d4;
			color: #fff;
		}
		.file-upload-wrapper:hover #upload-file-btn.upload {
			background-color: #00396F;
			border-color: #00396F;
		}

		#save-file-btn {
			background-color: #4CAF50;
			border-color: #4CAF50;
			color: #fff;
			display: none;
		}
		#save-file-btn:hover {
			background-color: #2f7b32;
			border-color: #2f7b32;
		}

	.file-upload-wrapper input[type=file] {
		cursor: pointer;
		font-size: 70px;
		position: absolute;
		height: 66px;
		top: 0;
		opacity: 0;
		right: 0;
	}

/*Specialties*/
.row.specialties > .col:first-child {
	border-right: 1px solid #ccc;
	padding-right: 30px;
}
.row.specialties > .col:last-child {
	padding-left: 30px;
}

	.row.specialties .parent {
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
	}
		.row.specialties .parent [type="checkbox"]+span:not(.lever) {
			color: #00396F;
			font-size: 20px;
			font-weight: bold;
	    	line-height: 21px;
		}

	.row.specialties .childs {
	    margin-left: 5px;
	    margin-top: 10px;
	}
		.row.specialties .childs .col {
			padding-bottom: 5px;
			padding-top: 5px;
		}

/*SEO*/
.subtitle {
	font-size: 18px;
}
textarea#meta-description,
textarea#meta-tags {
	height: 100px;
}